@use "./parciales/header";
@use "./parciales/footer";
@use "./parciales/global";
@use "./parciales/bodyindex";
@use "./parciales/lactancia";
@use "./parciales/bebe";
@use "./parciales/variables" as *;
