@use "./variables" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 110px;

  nav {
    &.barra {
      text-decoration: none;
      background-color: $rosa;
      z-index: 1030;
      font-family: $fuentenav;
      font-size: 1.1rem;
      font-style: italic;
      color: $violeta;
    }
    a img {
      width: 90px;
      display: block;
      margin: auto;
      transition: transform 1s ease;
      transform-origin: center;
      &:hover {
        transform: rotateY(360deg);
      }
    }
    ul {
      list-style: none;
    }
  }
}
