@use "variables" as *;
.h2lactancia {
  text-align: center;
  margin: 0 auto;
}

.micarousel {
  img {
    max-height: 350px;
    margin-bottom: 2rem;
    object-fit: contain;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: $violeta;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background-size: 60%;
  }
}

@media (max-width: 480px) {
  .carousel-item img {
    max-height: 250px;
  }
}
.posiciones {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  max-width: auto;
  margin: 1rem auto;
  padding: 0rem;
  p {
    margin: 1rem;
    line-height: 1.5;
  }
  .posicionesimg {
    width: 80%;
    height: auto;
    border-radius: 7px;
    object-fit: contain;
    justify-self: center;
  }
}
@media (max-width: 480px) {
  .posiciones {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 1rem;
    .posicionesimg {
      max-width: 90%;
      margin: 0 auto;
    }
    p {
      font-size: 0.95rem;
      line-height: 1.4;
    }
  }
}

.formulario {
  font-family: $fuentenav;
  font-weight: 200;
  max-width: 50%;
  margin: 1rem auto;
  padding: 1rem;
  background: #faf9fc;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  h3 {
    text-align: center;
    color: $violeta;
    margin-bottom: 0px;
    font-weight: 600;
  }
  textarea {
    height: 80px;
    resize: vertical;
    @include formulario;
  }
  input[type="text"] {
    @include formulario;
  }
  .radio {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 0.5rem;
    margin: 0;
    color: $violeta;
    font-weight: 400;
    .radioitem {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  label {
    font-weight: 500;
    color: $violeta;
  }
  .enviar {
    background-color: $violeta;
    color: #fff;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    margin-left: 4%;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 90%;
    &:hover {
      background-color: #6b5b80;
    }
  }
}
@media (max-width: 480px) {
  .formulario {
    padding: 1.5rem;
    max-width: 80%;
  }
}
